body {
  background-color: #f6f8f9;
}
h1,
h3 {
  font-weight: 500;
}
header {
  position: relative;
  background-color: white;
}
nav {
  background-color: #f6f8f9;
}

nav ul a {
  color: #757575;
}

nav .brand-logo {
  color: #fa6980;
  font-size: 1.5rem;
  padding: 0 15px;
}

nav a {
  color: #fa6980;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #343638;
  font-weight: 500;
}

.no-padding {
  padding: 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.intro {
  top: 25%;
  position: absolute;
  width: 100%;
  color: white;
}

header::before {
  content: "";
  width: 100%;
  height: 30px;
  display: block;
  bottom: 0px;
  position: absolute;
  background-color: #f6f8f9;
  z-index: 1;
}

header .intro .container hr {
  border-bottom-color: white;
  border-left-color: rgba(255, 255, 255, 0);
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
}

header .row .no-padding {
  position: relative;
}

header .intro .btn-small {
  background-color: #fa6980;
  font-weight: 500;
}

.margin-center {
  margin: auto;
}

header .latests-post h3 {
  font-size: 1.7em;
}

header .latests-post h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0px;
}

header .latests-post .categories {
  color: #fa6980;
  font-weight: 500;
  padding-top: 15px;
}

.space-bottom {
  padding-bottom: 15px;
}

header .latests-post .substract {
  color: #9e9e9e;
  font-weight: 500;
}

header .latests-post .time {
  color: #9e9e9e;
  font-weight: 500;
}

header .latests-post .time i {
  vertical-align: -0.4vh;
  font-size: 1.4em;
}

section#blog .card .card-image img {
  height: 200px;
  object-fit: cover;
}

section#blog .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#blog .title h3 {
  font-size: 1.4em;
}

section#blog .title a {
  color: #000;
  cursor: pointer;
  font-weight: 500;
}

section#blog .title i {
  vertical-align: -0.8vh;
  color: black;
}

section#blog .card .card-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0;
}

section#blog .card .time {
  padding-top: 10px;
}

section#blog .card .time i {
  vertical-align: -0.4vh;
  font-size: 1.4em;
}

section#blog .card p {
  font-weight: 500;
  color: #9e9e9e;
}
